<div ="results">
	<h1>Results:</h1>
	</br>
	<%
		$end_time = Time.now + 45 # compute for 3 minutes tops
		board = BoggleBoard.new(@board_string)
		board.evaluate_board
	%>
	<h2><%= "Words: #{board.found_words.length}" %></h2>
	<h2>Your Words:</br></h2><%= "#{board.found_words}" %>
	<h2><%= "Your Optimum Score: #{board.score}" %></h2>
</div>